<div class="basic-container">
  <form [formGroup]="simpleForm">

    <!-- TODO: MOVER A UN COMPONENTE GENERICO  -->
    <mat-form-field class="full-width" >
      <mat-label>Selecciona una categoria</mat-label>
      <mat-select formControlName="categoryId">
        <ng-container *ngIf="categories$ | async as categories">
          <mat-option *ngFor="let category of categories" [value]="category.id" (click)="onCategorySelected(category)">
            {{ category.name }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <!-- TODO: MOVER A UN COMPONENTE GENERICO  -->
    <mat-form-field class="full-width" >
      <mat-label>Selecciona un producto</mat-label>
      <mat-select formControlName="productId">
        <ng-container *ngIf="products$ | async as products">
          <mat-option *ngFor="let product of products" [value]="product.id" (click)="onProductSelected(product)">
            {{ product.title }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <pre>{{ simpleForm.value | json }}</pre>
    <product-paginator></product-paginator>
    <product-list [productList]="products$ | async"></product-list>

  </form>

</div>
